[Unit]
Description= the inimicalpart.com website

[Service]
User=root
WorkingDirectory=/var/www/website/
ExecStart=/bin/bash -c "systemctl start nginx; node /var/www/website/app.js"
ExecStop=/bin/bash -c "pkill -9 -f '/var/www/website/app.js' & systemctl stop nginx"
Restart=always
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
